@font-face
  font-family: 'Ubuntu'
  src: url('fonts/ubuntu-r-webfont.woff2') format('woff2'), url('fonts/ubuntu-r-webfont.woff') format('woff'), url('fonts/ubuntu-r.ttf')  format('truetype')


@font-face
  font-family: 'Ubuntu Bold'
  src: url('fonts/ubuntu-b-webfont.woff2') format('woff2'), url('fonts/ubuntu-b-webfont.woff') format('woff'), url('fonts/ubuntu-b.ttf')  format('truetype')


@font-face
  font-family: 'Ubuntu Light'
  src: url('fonts/ubuntu-l-webfont.woff2') format('woff2'), url('fonts/ubuntu-l-webfont.woff') format('woff'), url('fonts/ubuntu-l.ttf')  format('truetype')

@import sass/milligram
@import sass/settings
@import sass/loader


body, html
  background: radial-gradient($color-primary, darken($color-primary, 10%))
  color: $black
  margin: 0
  padding: 0
  font-family: 'Ubuntu', "Segoe UI", sans-serif
  max-width: 100vw
  max-height: 100vh

main
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  min-height: calc(100vh - 6rem)

h1, h2, h3, h4, h5, h6
  font-family: "Ubuntu Bold", "Segoe UI", sans-serif
  font-weight: 500

.navbar
  background: $color-primary
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  height: 6rem
  position: relative

  div
    display: flex
    flex-flow: row nowrap
    height: 100%
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    width: 100%

    a
      color: $white
      display: block
      text-align: center
      padding: 14px 16px
      text-decoration: none
      transition: all 250ms linear

      &:hover
        background: lighten($color-primary, 30%)
        color: $black
        transition: all 250ms linear

img
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  margin-bottom: 4rem

form
  margin-bottom: 0
  p
    margin-bottom: 0

p.decoded_text
  background: $color-secondary
  color: $white
  margin: 2rem 0
  padding: 1rem

.card
  background: $color-tertiary
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  margin-bottom: 4rem
  padding: 2.5rem

.center
  align-items: center
  display: flex
  flex-flow: column nowrap
  justify-content: center

.button, button, input[type="submit"]
  background-color: $color-primary
  border: 0 transparent
  border-radius: 0
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  display: flex
  width: max-content
  align-items: center
  justify-content: center
  margin: 0 1rem 0 0
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  &[disabled]
    cursor: not-allowed

  &:hover
    background-color: lighten($color-primary, 30%)
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

a
  &[disabled]
    cursor: not-allowed

#particles-js
  background: radial-gradient($color-primary, darken($color-primary, 10%))
  height: 100vh
  width: 100%
  max-width: 100vw
  position: fixed

.links
  display: flex
  flex-flow: row nowrap
  justify-content: space-evenly
  min-width: 50%

.buttons
  display: flex
  flex-flow: row nowrap

progress
  width: 100%

.info
  background: $color-secondary
  color: $black
  display: none
  font-size: 1.2rem
  padding: 1rem

.show
  display: block