<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steganography {% block header %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/">Home</a>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="system-message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <main>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
{% block scripts %}
    <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
</html>