{% extends "base.html" %}

{% block header %}
- Decode
{% endblock %}

{% block content %}
    <div class="card">
        <h1>Decode</h1>
        <form>
            <p>
                {{ form.type.label }}
                {{ form.type }}
                <div class="info"></div>
                {% for error in form.type.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        <br>
            <p>
                {{ form.image.label }}
                {{ form.image(size=32) }}
            </p>
            <p>{{ feedback }}</p>
        </form>
    <div class="buttons">
        <div id='submit_decode' class="button">decode</div>
        <a id="downloadImage" class="button" download disabled>Download Image</a>
    </div>
    </div>
{% endblock %}