{% extends "base.html" %}

{% block header %}
- Encode
{% endblock %}

{% block content %}
    <div class="card">
        <h1>Encode</h1>
        <form>
            <p>
                {{ form.text.label }}
                {{ form.text }}
                {% for error in form.text.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.integrity.label }}
                {{ form.integrity(min=1, max=10, oninput="outputUpdate(value)") }}
                <output for="integrity" id="selected-integrity">{{ form.integrity.data }}</output>
            </p>
            <p>
                {{ form.type.label }}
                {{ form.type }}
                <div class="info"></div>
                {% for error in form.type.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        <br>
            <p>
                {{ form.image.label }}
                {{ form.image }}
                {% for error in form.image.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </form>
    <div class="buttons">
        <div id='submit_encode' class="button">encode</div>
        <a id="downloadImage" class="button" download disabled>Download Image</a>
    </div>
    </div>
    {% if encoded_image %}
        <img class="encoded" src="{{ encoded_image }}" alt="An encoded version of the uploaded image" />
    {% endif %}
{% endblock %}