{% extends 'base.html' %}

{% block header %}- Home{% endblock %}

{% block content %}
    <div class="card center">
        <h3>{{ page_data.title }}</h3>
        <p>{{ page_data.body }}</p>
        <div class="links">
            <a class="button" href="/encode">Encode</a>
            <a class="button" href="/decode">Decode</a>
        </div>
    </div>
{#    <div class="card center">#}
{#        <progress id="progress" max="150" value="0"></progress>#}
{#    </div>#}
{#    <video controls width="100%">#}
{#        <source src="/videos/test_video.mp4" type="video/mp4">#}
{#    </video>#}
{% endblock %}